{{#link-to 'pony.add'}}Add{{/link-to}}
<ul>
    {{#each pony in sorted}}
        <li>
            {{#link-to 'pony.detail' pony}}{{pony.name}}{{/link-to}}
            {{#link-to 'pony.edit' pony}}Modifier{{/link-to}}
            <button {{action deletePony pony}}>supprimer</button>
        </li>
    {{/each}}
</ul>